@import "common.css";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/*************************************************** 
  SUB
***************************************************/
.wrap.sub{
  padding-bottom: 150px;
}
/* header */
.header{
  height: 100px;
}
.area_visual{
  position: relative;
  width: 1100px;
  height: 100px;
  margin: 0 auto;
}
.box_visual{
  position: absolute;
  left: 0;
  background: transparent;
}
.area_visual{
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.text{
  margin-left: 90px;
  font-size: 16px;
  line-height: 100px;
  font-family: 'Chivo Mono', monospace;
  color: #444;
}
/* aside */
.aside_others{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.nav_others{
  text-align: right;
  font-size: 14px;
  line-height: 40px;
}
.nav_others a{
  display: block;
  margin-top: 10px;
  font-family: 'Chivo Mono', monospace;
  letter-spacing: -.5px;
}
.nav_others a::after{
  display: inline-block;
  position: relative;
  width: 5px;
  height: 5px;
  margin: 0 10px 0 15px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 
  2px 2px 4px 2px rgb(174, 152, 250), 
  -2px -2px 3px 0 rgb(146, 255, 255);
  /* animation: blink 1s linear infinite alternate; */
  content: '';
}
.nav_others a.on::after{
  animation: blinkOn .6s linear infinite alternate;
}
@keyframes blink{
  from{
    box-shadow: 
    4px 4px 6px 4px rgb(174, 152, 250), 
    -4px -4px 6px 0 rgb(146, 255, 255);
  }
  to{
    box-shadow: 
    1px 1px 3px 1px rgb(174, 152, 250), 
    -2px -2px 2px 0 rgb(146, 255, 255);
  }
}
@keyframes blinkOn{
  from{
    box-shadow: 
    3px 3px 5px 3px rgb(255, 255, 255), 
    -3px -3px 4px 0 rgb(255, 255, 255);
  }
  to{
    box-shadow: 
    3px 3px 5px 3pxx rgb(174, 152, 250), 
    -3px -3px 4px 0 rgb(146, 255, 255);
  }
}
/* content */
.content{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding-top: 120px;
}
.box_btn{
  margin-top: 50px;
}
.btn_go{
  position: relative;
  margin-right: 15px;
}
.btn_go, .btn_github{
  position: relative;
  margin-right: 15px;
  border-color: #aaa;
  color: #333;
}
.btn_go::before, 
.btn_github::before,
.btn_go::after, 
.btn_github::after{
  color: #333
}
.area_figure{
  margin-top: 80px;
}
.area_figure .img{
  display: block;
  width: 80%;
  border: 1px solid #ddd;
  opacity: .8;
}
.area_figure .img.img_vertical{
  width: 45%;
}
.tit_sub{
  color: #000;
  font-size: 17px;
}
.list_desc{
  margin-top: 60px;
  font-size: 15px;
  font-weight: lighter;
  color: #000;
}
.list_desc li{
  margin-top: 9px;
}
